@font-face {
    font-family: 'Roboto-medium';
    src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-regular';
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-thin';
    src: url(./fonts/Roboto-Thin.ttf);
}

body {
    margin: 0;
    font-family: 'Roboto-medium', sans-serif;
}

.big-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}



/* Sidebar starts here */
.left-side {
    grid-column: 1 / 2;
    background-color: #334155;
    color: white;
    font-family: 'Roboto-medium', sans-serif;
}

.sidebar {
    margin-top: 20px;
    display: grid;
    gap: 32px;
}

.title {
    font-size: 32px;
    list-style-type: none;
}

.sidebar-options {
    display: grid;
    gap: 20px;
}

.options {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: bold;
}
/* Sidebar ends here */



.right-side {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.header {
    grid-row: 1 / 2;
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.445);
    position: relative;
    z-index: 10;
}

.main-container {
    grid-row: 2 / 5;
    background-color: rgba(231,229,228,255);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 3vh;
}

.left-container {
    margin-top: 3vh;
    padding: 8px;
    justify-content: left;
    padding-left: 2vw;
}

.left-title {
    font-size: 20px;
    margin-bottom: 2vh;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 30%));
    gap: 32px;
}

.card {
    background-color: white;
    box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.322);
    height: 28vh;
    border-radius: 10px;
    border-left: 8px solid #22c55e;
}

.card-title {
    font-size: 18px;
    margin-left: 1vw;
}

.right-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 3vh;
    padding: 8px;
    justify-content: left;
    padding-left: 2vw;
}

.top-right {
    display: grid;
}

.topright-title {
    font-size: 20px;
    margin-bottom: 2vh;
}

.bottom-right {
    display: grid;
}

.bottomright-title {
    font-size: 20px;
    margin-bottom: 2vh;
}

.topright-content,
.bottomright-content {
    background-color: white;
    box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.322);
    border-radius: 10px;
} 