@font-face {
    font-family: 'Roboto-medium';
    src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-regular';
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-thin';
    src: url(./fonts/Roboto-Thin.ttf);
}

body {
    margin: 0;
}

.big-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.left-side {
    grid-column: 1 / 2;
    background-color: rgba(25,146,212,255);
    height: 100vh;
    color: white;
    font-family: 'Roboto-medium', sans-serif;
}

.sidebar {
    margin-top: 20px;
    display: grid;
    gap: 32px;
}

.title {
    font-size: 32px;
    list-style-type: none;
}

.sidebar-options {
    display: grid;
    gap: 20px;
}

.options {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: bold;
}

.right-side {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-row: 1 / 2;
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.445);
    position: relative;
    z-index: 10;
}

.main-container {
    grid-row: 2 / 5;
    background-color: rgba(226,232,240,255);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.right-container {
    box-shadow: none;
}

.left-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-left {
    display: grid;
}

.bottom-left {
    display: grid;
}